<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MVC_Example</display-name>
  <welcome-file-list>
    <welcome-file>dangNhap.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>TaoThongBao_GVSevlet</servlet-name>
    <servlet-class>controller.TaoThongBao_GVSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaoThongBao_GVSevlet</servlet-name>
    <url-pattern>/TaoThongBao_GVSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GVHD_DanhSachTb</servlet-name>
    <jsp-file>/GVHD_DanhSachTb.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>GVHD_DanhSachTb</servlet-name>
    <url-pattern>/GVHD_DanhSachTb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>controller.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DSPhanHoiServlet</display-name>
    <servlet-name>DSPhanHoiServlet</servlet-name>
    <servlet-class>controller.DSPhanHoiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DSPhanHoiServlet</servlet-name>
    <url-pattern>/DSPhanHoiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangXuatServlet</display-name>
    <servlet-name>DangXuatServlet</servlet-name>
    <servlet-class>controller.DangXuatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangXuatServlet</servlet-name>
    <url-pattern>/DangXuatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XemChiTietPHServlet_GV</display-name>
    <servlet-name>XemChiTietPHServlet_GV</servlet-name>
    <servlet-class>controller.XemChiTietPHServlet_GV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XemChiTietPHServlet_GV</servlet-name>
    <url-pattern>/XemChiTietPHServlet_GV</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerDSGV</display-name>
    <servlet-name>ControllerDSGV</servlet-name>
    <servlet-class>controller.ControllerDSGV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerDSGV</servlet-name>
    <url-pattern>/danhsachgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerSuaGV</display-name>
    <servlet-name>ControllerSuaGV</servlet-name>
    <servlet-class>controller.ControllerSuaGV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerSuaGV</servlet-name>
    <url-pattern>/suagv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerXoaGV</display-name>
    <servlet-name>ControllerXoaGV</servlet-name>
    <servlet-class>controller.ControllerXoaGV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerXoaGV</servlet-name>
    <url-pattern>/xoagv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerThemGVTT</display-name>
    <servlet-name>ControllerThemGVTT</servlet-name>
    <servlet-class>controller.ControllerThemGVTT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerThemGVTT</servlet-name>
    <url-pattern>/themtt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomePage</display-name>
    <servlet-name>HomePage</servlet-name>
    <servlet-class>controller.Homepage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/HomePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCapNhatDiemServlet_GV</display-name>
    <servlet-name>ShowCapNhatDiemServlet_GV</servlet-name>
    <servlet-class>controller.ShowCapNhatDiemServlet_GV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCapNhatDiemServlet_GV</servlet-name>
    <url-pattern>/ShowCapNhatDiemServlet_GV</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GV_CapNhatTienDo</display-name>
    <servlet-name>GV_CapNhatTienDo</servlet-name>
    <servlet-class>controller.GV_CapNhatTienDo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GV_CapNhatTienDo</servlet-name>
    <url-pattern>/GV_CapNhatTienDo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GV_showTaoThongBaoServlet</display-name>
    <servlet-name>GV_showTaoThongBaoServlet</servlet-name>
    <servlet-class>controller.GV_showTaoThongBaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GV_showTaoThongBaoServlet</servlet-name>
    <url-pattern>/GV_showTaoThongBaoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerTaoTB</display-name>
    <servlet-name>ControllerTaoTB</servlet-name>
    <servlet-class>controller.ControllerTaoTB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerTaoTB</servlet-name>
    <url-pattern>/ControllerTaoTB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GV_showDanhSachThongBaoServlet</display-name>
    <servlet-name>GV_showDanhSachThongBaoServlet</servlet-name>
    <servlet-class>controller.GV_showDanhSachThongBaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GV_showDanhSachThongBaoServlet</servlet-name>
    <url-pattern>/GV_showDanhSachThongBaoServlet</url-pattern>
  </servlet-mapping>
</web-app>